.book {
    background-color:red;
}


.popover-title {
  word-break: break-all;
}

/*
md-card {
  word-wrap: break-word;
}
*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

md-card img {
  //max-width: 280px;
  //max-height: 210px;
  height:auto;
  width: auto;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    //max-height: auto; //80px;
    height: auto; //70px;
}

.md-subhead {
    height: 47px;
}

.coloredRatings {
    color: red;
}

.item-card {
    width: 280px;
    height: auto; // 400px;
}

.item-img {
    width: 280px;
    //height: 400px;
    padding:0px 0px 0px 0px;
}

.item-title-text {
    //max-width: 225px;
}

.item-title {
    word-wrap: break-word;
}

.item-popover {
    cursor:pointer;
    text-decoration:underline;
}

.item-field {
    word-wrap: break-word;
}


////////
// for design 1: no popovers

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    //max-height: auto; //80px;
    height: auto; //70px;
}

.coloredRatings {
    color: red;
}

.item-card {
    width: 280px;
    height: auto; // 400px;
}

item {
    padding: 0px 20px 0px 20px;
}


.item-card img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
