<!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->


<div ng-if="vm.recsysPaused"><h2 style="text-align:center">Sorry! The site is currently being updated. It will be back up shortly.</h2></div>



<span ng-if="!vm.recsysPaused">

<style>
    meter {
        margin: 0px 5px 0px 5px;
    }
</style>

<div class="btn-group" role="group" style="float:right">
    <button class="btn btn-default" ng-click="vm.changeToGridView()">
        <i class="material-icons">grid_on</i>
    </button>
    <button class="btn btn-default" ng-click="vm.changeToListView()">
        <i class="material-icons">list</i>
    </button>
</div>



<!-- add back loggedIn() && check -->

<div ng-if="vm.isGridView" style="margin-top:50px; background-color:white" ng-cloak> <!-- WITH IMAGES -->
    <div infinite-scroll='vm.pagingFunction()' infinite-scroll-distance='1' infinite-scroll-container="'#maincontent'">

        <div class="table-responsive-vertical md-whiteframe-z1" ng-if="vm.hasRecommendations() && !vm.displayingSearched && vm.tabState == 0">
            <h3 style="padding: 15px 15px 15px 15px">Recommended For You</h3>

            <div class='md-padding' layout="row" layout-align="center center" layout-wrap>

                <item mytitle="{{rdata[vm.title_field]}}" description="{{rdata[vm.description_field]}}" rating="rdata['overall_rating']" myimage="{{rdata[vm.image_link_field]}}" itemid="rdata.id" itemdata="setItemDetails(rdata)" ratingdata="setRatingsTemplate(rdata)" recsysid="recsys_id" mytemplate="template" gridview="true" recsysid="recsys_id" suggestedrating="rdata['suggested_rating']" ng-repeat="rdata in vm.recommendedList track by rdata.id"></item>
            </div>

            <div layout="row" layout-align="center center" ng-show="vm.checkEndOfList(true)">
                <button ng-click="vm.pagingFunction(true)" class="btn btn-default" style="margin: 15px 15px 15px 15px">Load More</button>
            </div>
        </div>

        <div class="table-responsive-vertical">
            <h3 style="padding: 15px 15px 15px 15px" ng-if="vm.tabState == 0 && !vm.displayingSearched">All Items</h3>

            <div cg-busy="{promise:itemPromise, message:'Loading'}" class='md-padding' layout="row" layout-align="center center" layout-wrap>
                <item mytitle="{{data[vm.title_field]}}" description="{{data[vm.description_field]}}" rating="data['overall_rating']" myrating="data['my_rating']" myimage="{{data[vm.image_link_field]}}" itemid="data.id" itemdata="setItemDetails(data)" ratingdata="setRatingsTemplate(data)" gridview="true" recsysid="recsys_id" mytemplate="template" ng-repeat="data in vm.tableData track by data.id"></item>
            </div>

            <div layout="row" layout-align="center center" ng-show="vm.checkEndOfList(false)">
                <button ng-click="vm.pagingFunction(false)" class="btn btn-default" style="margin: 15px 15px 15px 15px">Load More</button>
            </div>
        </div>


    </div>
</div>

<div ng-if="!vm.isGridView" style="margin-top:50px; background-color:white;" ng-cloak> <!-- NO IMAGES, ONLY TEXT -->
    <div infinite-scroll="vm.pagingFunction()" infinite-scroll-distance='1' infinite-scroll-container="'#maincontent'">

        <div class="table-responsive-vertical md-whiteframe-z1" ng-if="vm.hasRecommendations() && !vm.displayingSearched && vm.tabState == 0">
            <h3 style="padding: 15px 15px 15px 15px">Recommended For You</h3>
            <table id="table" class="table table-hover table-bordered">
                <tbody>
                     <div class='md-padding' layout="row" layout-align="center center" layout-wrap>
                        <tr ng-repeat="rdata in vm.recommendedList track by $index" ui-sref-active="md-warn">
                            <td data-title="Title" style="width:280px"><span data-toggle="tooltip" data-placement="top">{{rdata[vm.title_field] | limitTo:40}}</span></td>
                            <td data-title="Rating" style="width:150px">
                                <span uib-rating ng-model="rdata['overall_rating']" max="5" read-only="false" on-hover="hoveringOver(value); focus = true;myStyle=getOnStyle()" on-leave="focus = null;myStyle=getOffStyle()" titles="['one','two','three','four','five']" aria-labelledby="default-rating" ng-click="sendRating(rdata.id, rdata['overall_rating'], recsys_id)" rating-states="template.rating_states" ng-style="myStyle" ng-init="myStyle=getOffStyle()" suggestedrating="rdata['suggested_rating']"></span>
                                <span class="label" ng-class="{'label-danger': overStar<=1, 'label-warning': overStar>=2 && overStar<=3, 'label-success': overStar>=4}" ng-show="focus">{{overStar}}</span>
                            </td>
                            <td data-title="Description">{{rdata[vm.description_field] | cut:true:140:' ...'}}</td> <!-- TODO: set char limit or wrap text-->
                        </tr>
                    </div>
                </tbody>
            </table>
            <div layout="row" layout-align="center center" ng-show="vm.checkEndOfList(true)">
                <button ng-click="vm.pagingFunction(true)" class="btn btn-default" style="margin: 15px 15px 15px 15px">Load More</button>
            </div>
        </div>

        <div class="table-responsive-vertical md-whiteframe-z1">
            <h3 style="padding: 15px 15px 15px 15px" ng-if="vm.tabState == 0  && !vm.displayingSearched">All Items</h3>
            <table id="table" class="table table-hover table-bordered">
                <tbody>
                     <div cg-busy="{promise:itemPromise, message:'Loading'}" class='md-padding' layout="row" layout-align="center center" layout-wrap>
                        <tr ng-repeat="data in vm.tableData track by $index" ui-sref-active="md-warn">
                            <td data-title="Title" style="width:280px"><span data-toggle="tooltip" data-placement="top">{{data[vm.title_field] | limitTo:40}}</span></td>
                            <td data-title="Rating" style="width:150px">

                            <span ng-if="data['my_rating'] != undefined">
                                <span uib-rating ng-model="data['my_rating']" max="5" read-only="false" on-hover="hoveringOver(value); focus = true;myStyle=getOnStyle()" on-leave="focus = null;myStyle=getOffStyle()" titles="['one','two','three','four','five']" aria-labelledby="default-rating" ng-click="sendRating(data.id, data['my_rating'], recsys_id)" rating-states="template.rating_states" ng-style="myStyle" ng-init="myStyle=getOffStyle()"></span>
                                <span class="label" ng-class="{'label-danger': overStar<=1, 'label-warning': overStar>=2 && overStar<=3, 'label-success': overStar>=4}" ng-show="focus">{{overStar}}</span>
                            </span>
                            <span ng-if="data['my_rating'] == undefined">
                                <span uib-rating ng-model="data['overall_rating']" max="5" read-only="false" on-hover="hoveringOver(value); focus = true;myStyle=getOnStyle()" on-leave="focus = null;myStyle=getOffStyle()" titles="['one','two','three','four','five']" aria-labelledby="default-rating" ng-click="sendRating(data.id, data['overall_rating'], recsys_id)" rating-states="template.rating_states" ng-style="myStyle" ng-init="myStyle=getOffStyle()"></span>
                                <span class="label" ng-class="{'label-danger': overStar<=1, 'label-warning': overStar>=2 && overStar<=3, 'label-success': overStar>=4}" ng-show="focus">{{overStar}}</span>
                            </span>

                            </td>
                            <td data-title="Description">{{data[vm.description_field] | cut:true:140:' ...'}}</td> <!-- TODO: set char limit or wrap text-->
                        </tr>
                    </div>
                </tbody>
            </table>
            <div layout="row" layout-align="center center" ng-show="vm.checkEndOfList(false)">
                <button ng-click="vm.pagingFunction(false)" class="btn btn-default" style="margin: 15px 15px 15px 15px">Load More</button>
            </div>
        </div>

    </div>
</div>

</span>
