<div layout="column" flex>
  <div class="mytoolbar">
    <md-toolbar class="col-md-offset-1 col-md-10" layout="row" layout-align="start center" style="background-color: #558C89">

      <section class="hide-xs"> <!-- ui-sref="home.items({'isGridView':vm.isGridView})" -->
        <h3 class="logo">
          <a class="clearhref" ui-sref="home.items" ui-sref-opts="{reload:true}">{{vm.recsysTitle}}</a>
        </h3>
      </section>

      <section>
        <form class="search-group" style="width:auto">
          <div class="input-group" style="width:300px">

            <span ng-show="loggedIn()" class="autocompletedemoCustomTemplate">
              <md-autocomplete id="searchbox" ng-disabled="" md-no-cache="" md-selected-item="vm.selectedItem" md-search-text-change="" md-search-text="vm.searchText" md-selected-item-change="itemSearch(item)" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Search for items..." ng-enter="itemSearch()" md-clear-button="true">
                  <md-item-template>
                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
                  </md-item-template>
              </md-autocomplete>
            </span>
            <div ng-show="loggedIn()" id="myDropdown" class="input-group-btn">
               <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="modal" data-target="#filterModal" style="height:40px;width:100px;font-size:large;background-color:#e7e7e7;"> <!--  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > -->
                <span id="search-type">Filter</span>
                <span class="fa fa-caret-down"></span>
               </button>

               <ul id="menu1" class="dropdown-menu" style="height: 400px;width: 350px" role="menu" aria-labelledby="drop4">
                 <li role="presentation"><a role="menuitem" style="color:black; pointer-events: none; cursor: default;">Sorted by</a>
                 </li>
                 
                 <li role="presentation"><a role="menuitem" style="color:gray; pointer-events: none; cursor: default;">Search by...</a></li>
                 <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="changeSearchType('All')">All</a></li>
                 <li ng-repeat="type in item_types" role="presentation">
                   <a role="menuitem" tabindex="-1" href="#" ng-click="changeSearchType(type)">{{ type }}</a>
                 </li>

                 <li role="presentation" class="divider"></li>
                 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
               </ul>
            </div>

          </div>
        </form>

      </section>

<!--       <section class="hide-xs" ng-if="loggedIn()">
            <button type="button" class="btn btn-secondary search-button">
              <i class="material-icons">search</i>
            </button>
      </section> -->

      <span flex></span>
<!--
      <section>
          <md-button ng-if="loggedIn()" ng-click="vm.amazon_ratings()">
            Import Ratings
          </md-button>
      </section>
-->

      <section>
        <md-menu ng-if="loggedIn()">
            <md-button class="toolbar-button" aria-label="Settings" ng-click="$mdMenu.open()">
                <span>{{vm.username()}}</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                     <md-button ng-show="$state.current.name != 'home.profile'" ui-sref="home.profile">Profile</md-button>
                     <md-button ng-show="$state.current.name != 'home.items'" ui-sref="home.items">Home</md-button>
                </md-menu-item>
                <md-menu-item><md-button ng-click="vm.logout();$mdCloseMenu()">Log Out</md-button></md-menu-item>
            </md-menu-content>
        </md-menu>
        <div layout="row" ng-if="!loggedIn()">
          <md-button class="toolbar-button" aria-label="Settings" ui-sref="home.signup">
              <span>Sign Up</span>
          </md-button>
          <md-button class="toolbar-button" aria-label="Settings" ui-sref="home.login">
              <span>Log In</span>
          </md-button>
        </div>

      </section>
    </md-toolbar>
  </div>

  <md-progress-linear md-mode="indeterminate" ng-show="showSearchProgress" style="width: 125%"></md-progress-linear>

  <div ng-if="addTabs()" layout="row" layout-align="center center">
    <md-tabs style="width: 500px;" md-selected="tabIndex">
      <md-tab label="Home" md-on-select="tabSwitch(tabIndex)" style="color: black;width:200px" ng-disabled-""></md-tab>
      <md-tab label="Recommendations" md-on-select="tabSwitch(tabIndex)" style="color: black;width:200px" ng-disabled=""></md-tab>
      <md-tab label="Your Rated Items" md-on-select="tabSwitch(tabIndex)" style="color: black;width:200px" ng-disabled=""></md-tab>
    </md-tabs>
  </div>

  <md-content flex id="maincontent" class="md-padding page-content" style="overflow-y:scroll;">
      <div class="col-md-offset-1 col-md-10" ui-view></div>
  </md-content>

</div>





<div class="modal fade" id="filterModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Filter your items</h4>
      </div>

      <div class="modal-body">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1">Collapsible panel</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">Panel Body</div>
                <div class="panel-footer">Panel Footer</div>
              </div>
            </div>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="filterButton" class="btn btn-primary" ng-click="vm.applyFilter()"><span id="filterButtonLoading"></span><span id="filterButtonText">Apply</span></button>
      </div>
    </div>
  </div>
</div>

