<div layout="column" flex>
  <div class="mytoolbar">
    <md-toolbar class="" layout="row" layout-align="start center" style="background-color: #558C89">

      <section id="logo"> <!-- ui-sref="home.items({'isGridView':vm.isGridView})" -->
        <div class="navbar-header">
        <h3 class="logo">
          <a class="clearhref" ui-sref="home.items" ui-sref-opts="{reload:true}">
              {{vm.recsysTitle}}
          </a>
        </h3>
        </div>
      </section>

      <section id="search-bar-main" style="width:100%">
        <form class="search-group" style="width:auto">
          <div class="input-group" id="search-bar" style="width:100%;max-width:800px">

            <span ng-show="loggedIn()" class="autocompletedemoCustomTemplate">
              <md-autocomplete id="searchbox" ng-disabled="" md-no-cache="" md-selected-item="vm.selectedItem" md-search-text-change="" md-search-text="vm.searchText" md-selected-item-change="itemSearch(item)" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Search for items..." ng-enter="itemSearch()" md-clear-button="true">
                  <md-item-template>
                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
                  </md-item-template>
              </md-autocomplete>
            </span>

<!--               
               <md-menu-bar ng-show="loggedIn()" id="myDropdown" class="input-group-btn">
               <md-menu>

               <button type="button" class="btn btn-secondary dropdown-toggle" ng-click="$mdMenu.open()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:40px;width:100px;font-size:large;background-color:#e7e7e7;"> ng-click="show()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <span id="search-type">Filter</span>
                <span class="fa fa-caret-down"></span>
               </button>

            <md-menu-content>
              <md-menu-item>

              <div class="panel-group">
                <div class="panel panel-default">

                  <div class="panel-heading" style="cursor: pointer" data-toggle="collapse" data-target="#collapse_sorted">
                    <h4 class="panel-title">Sorted By<span class="fa fa-caret-down" style="float:right"></span></h4>
                    
                  </div>
                      <div id="collapse_sorted" class="panel-collapse collapse">
    
                          <ul class="list-group">
                            <li ng-repeat="(key, value) in vm.numerical_fields track by $index" class="list-group-item" ng-click="changeSortedParam(value)">
                                <span ng-click="changeSortedParam(value)"> 
                                    {{key}} {{value}} <span ng-show="isSortedParam(value)" style="float:right"><i class="material-icons">check_circle</i></span>
                                </span>
                            </li>
                          </ul>
                          
                      </div>

                  <div class="panel-heading" style="margin: 12px 0px 12px 0px">
                      <h4 class="panel-title">Filter By</h4>
                  </div>

                  <form name="vm.filterForm" novalidate style="margin: 12px">
                      <formly-form id="filterFormly" model="filterModel" fields="vm.filterFields" options="vm.options" form="vm.filterForm"></formly-form>
                  </form>
  
                </div>
              </div>

                <li role="presentation" class="divider"></li>
                 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
             </md-menu-item>
             </md-menu-content>

              <md-menu-divider></md-menu-divider>

              
            </md-menu>
            </md-menu-bar>
-->

          </div>
        </form>

      </section>



<!--       <section class="hide-xs" ng-if="loggedIn()">
            <button type="button" class="btn btn-secondary search-button">
              <i class="material-icons">search</i>
            </button>
      </section> -->

      <span flex></span>
<!--
      <section>
          <md-button ng-if="loggedIn()" ng-click="vm.amazon_ratings()">
            Import Ratings
          </md-button>
      </section>
-->

      <section id="settings-user">
        <md-menu ng-if="loggedIn()">
            <md-button class="toolbar-button" aria-label="Settings" ng-click="$mdMenu.open()">
                <span>{{vm.username()}}</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                     <md-button ng-show="$state.current.name != 'home.profile'" ui-sref="home.profile">Profile</md-button>
                     <md-button ng-show="$state.current.name != 'home.items'" ui-sref="home.items">Home</md-button>
                </md-menu-item>
                <md-menu-item><md-button ng-click="vm.logout();$mdCloseMenu()">Log Out</md-button></md-menu-item>
            </md-menu-content>
        </md-menu>
        <div layout="row" ng-if="!loggedIn()">
          <md-button class="toolbar-button" aria-label="Settings" ui-sref="home.signup">
              <span>Sign Up</span>
          </md-button>
          <md-button class="toolbar-button" aria-label="Settings" ui-sref="home.login">
              <span>Log In</span>
          </md-button>
        </div>

      </section>
    </md-toolbar>
  </div>

<!--
      <section id="search-bar-device">
        <form class="search-group" style="width:auto">
          <div class="input-group" id="search-bar">

            <span ng-show="loggedIn()" class="autocompletedemoCustomTemplate">
              <md-autocomplete id="searchbox" ng-disabled="" md-no-cache="" md-selected-item="vm.selectedItem" md-search-text-change="" md-search-text="vm.searchText" md-selected-item-change="itemSearch(item)" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Search for items..." ng-enter="itemSearch()" md-clear-button="true">
                  <md-item-template>
                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
                  </md-item-template>
              </md-autocomplete>
            </span>
            <div ng-show="loggedIn()" id="myDropdown" class="input-group-btn">
               <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:40px;width:100px;font-size:large;background-color:#e7e7e7;">
                <span id="search-type">Filter</span>
                <span class="fa fa-caret-down"></span>
               </button>

               <ul id="menu1" class="dropdown-menu" style="min-height: 400px;width: 400px" role="menu" aria-labelledby="drop4">
                 <li role="presentation"><a role="menuitem" style="color:black; pointer-events: none; cursor: default;">Sorted by</a>
                 </li>
                 
                 <li role="presentation"><a role="menuitem" style="color:gray; pointer-events: none; cursor: default;">Search by...</a></li>
                 <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="changeSearchType('All')">All</a></li>
                 <li ng-repeat="type in item_types" role="presentation">
                   <a role="menuitem" tabindex="-1" href="#" ng-click="changeSearchType(type)">{{ type }}</a>
                 </li>

                 <li role="presentation" class="divider"></li>
                 <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
               </ul>
            </div>

          </div>
        </form>

      </section>
-->

  <md-progress-linear md-mode="indeterminate" ng-show="showSearchProgress" style="width: 125%"></md-progress-linear>

  <div ng-if="addTabs()" layout="row" layout-align="center center">
    <md-tabs style="width: 500px;" md-selected="tabIndex">
      <md-tab label="Home" md-on-select="tabSwitch(tabIndex)" style="color: black;width:200px" ng-disabled-""></md-tab>
      <md-tab label="Recommendations" md-on-select="tabSwitch(tabIndex)" style="color: black;width:200px" ng-disabled=""></md-tab>
      <md-tab label="Your Rated Items" md-on-select="tabSwitch(tabIndex)" style="color: black;width:200px" ng-disabled=""></md-tab>
    </md-tabs>
  </div>

  <div ng-if="loggedIn()" layout="row" layout-align="center center" class="md-padding" >

    <div layout="column">
        <button class="btn btn-default" style="float:left;height:37.5px" ng-click="vm.toggleFilterNav()">
            <span id="search-type">☰ Filter</span>
        </button>
    </div>

    <span flex></span>

    <div layout="column">
      <div class="btn-group" role="group"  style="float:right;;height:37.5px">
          <button class="btn btn-default" ng-click="vm.changeToGridView()">
              <i class="material-icons">grid_on</i>
          </button>
          <button class="btn btn-default" ng-click="vm.changeToListView()">
              <i class="material-icons">list</i>
          </button>
      </div>
    </div>

  </div>


  <div layout="row" flex class="" style="overflow-y:hidden">
    <div ng-if="showingFilterNav"  layout="column" class="md-padding" style="padding-right:0px;padding-bottom:0px">
       <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" style="height:100%">
          <md-content layout-margin>
              <div class="panel-heading" style="cursor: pointer;margin: 12px 0px 12px 0px"> <!-- data-toggle="collapse" data-target="#collapse_sorted">-->
                <h4 class="panel-title">Sorted By<!--<span class="fa fa-caret-down" style="float:right">--></span></h4>
              </div>

                  <!--<div id="collapse_sorted" class="panel-collapse collapse">-->
                      <ul class="list-group">
                        <li ng-repeat="(key, value) in vm.numerical_fields track by $index" class="list-group-item" ng-click="changeSortedParam(value)">
                           <span ng-click="changeSortedParam(value)">
                                {{value}} <span ng-show="isSortedParam(value)" style="float:right"><i class="material-icons">check_circle</i></span>
                            </span>
                        </li>
                      </ul>
                  <!-- </div> -->
    
              <div class="panel-heading" style="margin: 12px 0px 12px 0px">
                  <h4 class="panel-title">Filter By</h4>
              </div>
    
              <form style="margin: 12px" novalidate>
                  <formly-form id="filterFormly" model="filterModel" fields="vm.filterFields" options="vm.options" form="vm.filterForm"></formly-form>
              </form>

            <md-button class="btn btn-secondary" style="float:right;background-color:lightgray" ng-click="vm.applyFilter()" class="md-accent">
               Apply         
            </md-button>

          </md-content>
         </md-sidenav> 
    </div>

    <div layout="column" flex class="md-padding" style="padding-right:0px;padding-bottom:0px">
       <md-content layout="column" id="scrollContent" flex class="md-padding page-content" style="padding: 0px" >
           <div ui-view></div>
       </md-content>
    </div>
  </div>




</div>


<!--
<script type="text/ng-template" id="modal.html">

          <div class="modal-header">
            <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Filter Items</h4>
          </div>
    
          <div class="modal-body">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading" style="cursor: pointer" data-toggle="collapse" data-target="#collapse_sorted">
                    <h4 class="panel-title">Sorted By<span class="fa fa-caret-down" style="float:right"></span></h4>
                    
                  </div>
                      <div id="collapse_sorted" class="panel-collapse collapse">
    
                          <ul class="list-group">
                            <li ng-repeat="(key, value) in vm.numerical_fields track by $index" class="list-group-item" ng-click="changeSortedParam(value)">
                                <span ng-click="changeSortedParam(value)">
                                    {{key}} {{value}} <span ng-show="isSortedParam(value)" style="float:right"><i class="material-icons">check_circle</i></span>
                                </span>
                            </li>
                          </ul>
                          
                      </div>

                  <div class="panel-heading" style="margin: 12px 0px 12px 0px">
                      <h4 class="panel-title">Filter By</h4>
                  </div>

                  <v>Foo</div>
          <div>Foo</div>
          <div>Foo</div>form name="vm.filterForm" novalidate style="margin: 12px">
                      <formly-form id="filterFormly" model="filterModel" fields="vm.filterFields" options="vm.options" form="vm.filterForm"></formly-form>
                  </form>
  
                </div>
              </div>
          </div>
    
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" ng-click="vm.cancel()">Cancel</button>
            <button type="button" id="filterButton" class="btn btn-primary" ng-click="vm.applyFilter()" ng-disabled="vm.filterForm.$invalid"><span id="filterButtonLoading"></span><span id="filterButtonText">Apply</span></button>
          </div>
</script>
-->
