<div class="table-responsive-vertical md-whiteframe-z1" style="margin-top:50px; background-color:white">

<h3 style="padding: 15px 15px 15px 15px">Not Interested Items</h3>
<h5 style="padding: 15px 15px 15px 15px">These items will not be displayed to you. Remove an item from this list to display it again.</h5>

<table id="table" class="table table-hover table-bordered">
	<tbody>
	     <div class='md-padding' layout="row" layout-align="center center" layout-wrap>
		<tr ng-repeat="data in items track by $index" ui-sref-active="md-warn">
		    <td>
                            <md-button class="toolbar-button" aria-label="Settings" ng-click="$mdMenu.open()">
				<i class="material-icons" ng-click="vm.removeNotInterested($index)">clear</i>
			    </md-button>
                    </td>
                    <td data-title="Title" style="width:280px"><span data-toggle="tooltip" data-placement="top">{{data[vm.title_field] | limitTo:40}}</span></td>
		    <td data-title="Description">{{data[vm.description_field] | cut:true:140:' ...'}}</td> <!-- TODO: set char limit or wrap text-->
		</tr>
	    </div>
	</tbody>
</table>
<div layout="row" layout-align="center center" ng-show="vm.checkEndOfList(true)">
	<button ng-click="vm.pagingFunction(true)" class="btn btn-default" style="margin: 15px 15px 15px 15px">Load More</button>
</div>

</div>
