<div class="row">

   <div class="main-content">

        <form class="form-register" ng-submit="vm.signup()">

            <div class="form-register-with-email">

                <div class="form-white-background">

                    <div class="form-title-row">
                        <h1>Create an account</h1>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Username</span>
                            <input type="text" name="username" ng-model="vm.username">
                        </label>
                    </div>

<!--                     <div class="form-row">
                        <label>
                            <span>Email</span>
                            <input type="email" name="email" ng-model="vm.email">
                        </label>
                    </div> -->

                    <div class="form-row">
                        <label>
                            <span>Password</span>
                            <input type="password" name="password" ng-model="vm.password">
                        </label>
                    </div>

                    <div class="form-row">
                        <button type="submit">Register</button>
                    </div>

                </div>

                <a ui-sref="home.login" class="form-log-in-with-existing">Already have an account? Login here &rarr;</a>

            </div>

        </form>

    </div>

</div>