<!-- DESIGN 1: listed template -->

<md-card ng-if="$parent.template.template_number == 1" class="item-card" ng-cloak>

<img class="item-img md-card-image" ng-src="{{myimage != '' ? myimage : 'assets/images/No_image.jpg.png' }}" onerror="this.src='assets/images/No_image.jpg.png'" alt="image caption" ng-cloak>

<!-- <span data-toggle="popover" data-original-title="Description" data-content="{{description | limitTo:500}}" data-trigger="hover"> -->

  <md-card-title class="item-title">
    <md-card-title-text class="item-title-text">
      
      <span class="md-headline card-title trim-info">{{mytitle}}</span>      

      <span class="md-subhead">

      <table>
        <tr>
          <td style="width: 205px">
		<span ng-if="myrating != undefined">
		  <span uib-rating ng-model="myrating" max="5" read-only="false" on-hover="hoveringOver(value); focus = true" on-leave="focus = null" titles="['Rate it a one','Rate it a two','Rate it a three','Rate it a four','Rate it a five. It was amazing!']" aria-labelledby="default-rating" ng-click="sendRating(itemd, itemid, myrating, recsysid, univcode)" ng-class="{coloredRatings: showingRated || focus == true}" rating-states="mytemplate.rating_states" ng-style="myStyle" ng-init="myStyle=getOnStyle()"></span>
                 <!-- {{ showingRated || focus == true ? null : myrating}} -->
                </span>  
<!--
		<span ng-if="myrating == undefined">
		  <span uib-rating ng-model="rating" max="5" read-only="false" on-hover="hoveringOver(value); focus = true;myStyle=getOnStyle()" on-leave="focus = null;myStyle=getOffStyle()" titles="['Rate it a one','Rate it a two','Rate it a three','Rate it a four','Rate it a five. It was amazing!']" aria-labelledby="default-rating" ng-click="sendRating(itemd, itemid, rating, recsysid, univcode)" ng-class="{coloredRatings: showingRated || focus == true}" rating-states="mytemplate.rating_states" ng-style="myStyle" ng-init="myStyle=getOffStyle()"></span>
		  <!-- {{ showingRated || focus == true ? null : rating}} -->
		</span>
-->
          </td>
          <td>
	      <md-menu>
		  <md-button class="toolbar-button" aria-label="Settings" ng-click="$mdMenu.open($event)">
		      <i class="material-icons" ng-click="">more_vert</i>
		  </md-button>
		  <md-menu-content width="3">
	<!--               <md-menu-item><md-button ng-click="$mdMenu.close()">Save</md-button></md-menu-item> -->
	                  <md-menu-item>
                              <md-button ng-show="tabNumber != 2" ng-click="$mdMenu.close();sendNotInterested(itemid, recsysid)">Not Interested</md-button>
	                      <md-button ng-show="tabNumber == 2" ng-click="$mdMenu.close();sendRating(itemd, itemid, 'unrate', recsysid, univcode)">Unrate</md-button>
                          </md-menu-item>
                  </md-menu-content>
	      </md-menu>
          </td>
        </tr>      
       <table>


      </span>
      <div ng-if="suggestedrating">You might rate this: {{ suggestedrating | number:2}} </div>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>
    <md-card-actions><span ng-bind-html="itemdata"></span></md-card-actions>

  </md-card-content>

</span>

</md-card>





<!-- DESIGN 2: with popovers -->

<md-card ng-if="$parent.template.template_number == 0" class="item-card" ng-cloak>

  <img class="item-img md-card-image" ng-src="{{myimage != '' ? myimage : 'assets/images/No_image.jpg.png' }}" alt="image caption" ng-cloak> <!-- data-toggle="popover" data-original-title="{{mytitle | limitTo:100}}" data-content="{{description | limitTo:500}}" data-trigger="hover" ng-cloak> -->

  <md-card-title class="item-title">
    <md-card-title-text class="item-title-text">
      <span class="md-headline card-title trim-info">{{mytitle | cut:true:40:'...'}}</span>
      <span class="md-subhead">

      <table>
        <tr>
          <td style="width: 205px">
		<span ng-if="myrating != undefined">
		  <span uib-rating ng-model="myrating" max="5" read-only="false" on-hover="hoveringOver(value); focus = true" on-leave="focus = null" titles="['Rate it a one','Rate it a two','Rate it a three','Rate it a four','Rate it a five. It was amazing!']" aria-labelledby="default-rating" ng-click="sendRating(itemd, itemid, myrating, recsysid, univcode)" ng-class="{coloredRatings: showingRated || focus == true}" rating-states="mytemplate.rating_states" ng-style="myStyle" ng-init="myStyle=getOnStyle()"></span>
		 <!-- {{ showingRated || focus == true ? null : myrating}} -->
		</span>

		<span ng-if="myrating == undefined">
		  <span uib-rating ng-model="rating" max="5" read-only="false" on-hover="hoveringOver(value); focus = true;myStyle=getOnStyle()" on-leave="focus = null;myStyle=getOffStyle()" titles="['Rate it a one','Rate it a two','Rate it a three','Rate it a four','Rate it a five. It was amazing!']" aria-labelledby="default-rating" ng-click="sendRating(itemd, itemid, rating, recsysid, univcode)" ng-class="{coloredRatings: showingRated || focus == true}" rating-states="mytemplate.rating_states" ng-style="myStyle" ng-init="myStyle=getOffStyle()"></span>
		  <!-- {{ showingRated || focus == true ? null : rating}} -->
		</span>

                <div ng-if="suggestedrating">You might rate this: {{ suggestedrating | number:2}} </div>
          </td>
          <td>
	      <md-menu>
		  <md-button class="toolbar-button" aria-label="Settings" ng-click="$mdMenu.open($event)">
		      <i class="material-icons" ng-click="">more_vert</i>
		  </md-button>
		  <md-menu-content width="3">
	<!--               <md-menu-item><md-button ng-click="$mdMenu.close()">Save</md-button></md-menu-item> -->
	                  <md-menu-item>
                              <md-button ng-show="tabNumber != 2" ng-click="$mdMenu.close();sendNotInterested(itemid, recsysid)">Not Interested</md-button>
	                      <md-button ng-show="tabNumber == 2" ng-click="$mdMenu.close();sendRating(itemd, itemid, 'unrate', recsysid, univcode)">Unrate</md-button>
                          </md-menu-item>
                  </md-menu-content>
	      </md-menu>
          </td>
        </tr>
      </table>

      </span>

    </md-card-title-text>
  </md-card-title>
  <md-card-content style="margin:auto">
    <md-card-actions class="item-popover" data-toggle="popover" data-trigger="hover"  data-content="{{ itemdata }}" data-html="true">Item Details</md-card-actions>
    <md-card-actions class="item-popover" data-toggle="popover" data-trigger="hover"  data-content="{{ratingdata}}" data-html="true">Rating Details</md-card-actions>


  </md-card-content>

</md-card>
