<div ncy-breadcrumb></div>

<div class="container col-md-8 col-md-offset-2" style="margin-bottom:50px; background-color:white"> <!-- find better bottom margin  style="margin-bottom: 10px"-->

	<div>
	    <h1 style="display: inline-block; margin: 10px 0px 10px 0px">Settings</h1>

    	<div class="btn-group" role="group" aria-label="css" style="margin: 10px 0px 10px 0px; display: inline-block; float:right;">
	        <button class="btn btn-primary" ng-class="{active: vm.isTab('general')}" ng-click="vm.setTab('general')" style="outline:none;width:94px">General</button>
                <button class="btn btn-primary" ng-class="{active: vm.isTab('template')}" ng-click="vm.setTab('template')" style="outline:none;width:94px">Templating</button>
	        <button class="btn btn-primary" ng-class="{active: vm.isTab('data')}" ng-click="vm.setTab('data')" style="outline:none;width:94px">Data</button>
	        <button class="btn btn-primary" ng-class="{active: vm.isTab('advanced')}" ng-click="vm.setTab('advanced')" style="outline:none;width:94px">Advanced</button>
<!--           <button class="btn btn-primary" ng-class="{active: vm.tabSetting == 'widget'}" ng-click="vm.setTab('widget')" style="outline:none">Widget</button> -->
	    </div>
	</div>

	<form ng-submit="vm.submit()" ng-show="vm.isTab('general')" novalidate>

	    <formly-form model="vm.recsys" fields="vm.recsysFields" form="vm.recsysForm">
	        <button type="submit" class="btn btn-primary" ng-disabled="vm.recsysForm.$invalid">Save</button>
	    </formly-form>
	</form>


<div ng-show="vm.isTab('widget')">
  <div id="item-card-demo"></div>
</div>



<!-- <span id="item-card-demo">
<md-card style="height: 400px" ng-cloak>

  <img class="item-img md-card-image" ng-src="{{myimage}}" alt="image caption" data-toggle="popover" data-original-title="{{mytitle | limitTo:100}}" data-content="{{description | limitTo:500}}" data-trigger="hover" ng-cloak>
  <md-card-title class="item-title">
    <md-card-title-text class="item-title-text">
      <span class="md-headline card-title trim-info"></span>
      <span class="md-subhead">

        <span class="rating-icon" uib-rating ng-model="rating" max="5" read-only="false" on-hover="$parent.hoveringOver(value); focus = true" on-leave="focus = null" titles="['did not like it','it was ok','liked it','really liked it','it was amazing']" aria-labelledby="default-rating" ng-click="$parent.sendRating(itemid, rating, $parent.recsys_id)" ng-class="{coloredRatings: $parent.showingRated || focus == true}" state-on="stateOnRatingIcon" state-off="stateOffRatingIcon"></span>
        {{ $parent.showingRated || focus == true ? null : rating}}
        <span class="label" ng-class="{'label-danger': $parent.overStar<=1, 'label-warning': $parent.overStar>=2 && $parent.overStar<=3, 'label-success': $parent.overStar>=4}" ng-show="focus">Rate {{$parent.overStar}}</span>

      </span>

    </md-card-title-text>
  </md-card-title>

  <md-card-content>
    <md-card-actions class="item-popover" data-toggle="popover" data-trigger="hover" data-original-title="Item Details" data-content="{{$parent.item_details}}" data-html="true">Item Details</md-card-actions>
    <md-card-actions class="item-popover" data-toggle="popover" data-trigger="hover" data-original-title="Rating Details" data-content="{{$parent.ratings_template}}" data-html="true">Rating Details</md-card-actions>

    <md-card-actions>
      <md-menu>
          <md-button class="toolbar-button" aria-label="Settings" ng-click="$mdOpenMenu()">
              <i class="material-icons" ng-click="">more_vert</i>
          </md-button>
          <md-menu-content width="3">
              <md-menu-item><md-button ng-click="$mdCloseMenu()">Save</md-button></md-menu-item>
              <md-menu-item><md-button ng-click="$mdCloseMenu()">Not Interested</md-button></md-menu-item>
          </md-menu-content>
      </md-menu>
    </md-card-actions>

  </md-card-content>

</md-card>

</span> -->










<!-- <div cg-busy="{promise: $parent.reposPromise, message:'Loading settings', backdrop:false}">
 -->

<div class="template" ng-if="vm.isTab('template')">

  <table>
    <tr valign="top">
      <td>
      <h3 style="text-align:left">Select Item Template</h3>

  <div class="block" style="background-color: #3498db;margin:auto 0 auto 0;width:450px;height:600px">
      <slick class="slider blue content" style="margin:auto;display:inline-block;" settings="slickConfig" ng-if="slickConfigLoaded" dots="true">
        <div class="" ng-include="'tpl1.html'"></div>
        <div class="" ng-include="'tpl2.html'"></div>
      </slick>
  </div>
    </td>

    <td style="padding: 0px auto auto auto;">
       <div style="margin: 0px 0px 30px 30px;width:300px;float:right;display:inline-block">
          <h3>Customize Template</h3>

          <formly-form model="vm.recsys" fields="vm.recsysFieldsTemplate" form="vm.recsysFormTemplate"></formly-form>

          <h4 ng-show="!vm.showingEachIcon"><b>All Icons</b></h4>
          <h4 ng-show="vm.showingEachIcon"><b>Individual Icons</b></h4>

<!--           <formly-form ng-show="!vm.showingEachIcon" model="vm.recsys" fields="vm.recsysFieldsTemplateIcons" form="vm.recsysFormTemplateIcons"></formly-form> -->


          <div ng-show="!vm.showingEachIcon" style="padding-bottom:5px">
            <label>Selected: </label><div class="btn btn-default" style="display:block;font-size:40px" uib-popover-template="'allIconPopoverTemplateOn'" data-toggle="popover" popover-title="{{dynamicPopover.title}}" ng-class="vm.getOnClass()" popover-trigger="'outsideClick'"></div>
            <label>Unselected: </label><div class="btn btn-default" style="display:block;font-size:40px" uib-popover-template="'allIconPopoverTemplateOff'" data-toggle="popover" popover-title="{{dynamicPopover.title}}" ng-class="vm.getOffClass()" popover-trigger="'outsideClick'"></div>
          </div>

          <div ng-show="vm.showingEachIcon" style="padding:0px 0px 13px 0px">
            <label>Selected: </label><div><span ng-repeat="i in [1,2,3,4,5] track by $index">
              <span uib-popover-template="'eachIconPopoverTemplateOn'" style="font-size:40px;" data-toggle="popover" popover-title="{{dynamicPopover.title}}" ng-class="vm.getOnClass($index)" popover-trigger="'outsideClick'"></span>
            </span></div>
            <br>
            <label>Unselected: </label><div><span ng-repeat="i in [1,2,3,4,5] track by $index">
              <span uib-popover-template="'eachIconPopoverTemplateOff'" style="font-size:40px;" data-toggle="popover" popover-title="{{dynamicPopover.title}}" ng-class="vm.getOffClass($index)" popover-trigger="'outsideClick'"></span>
            </span></div>
          </div>
<!-- ng-style="iconStyle" ng-init="iconStyle=vm.getOffStyle()" ng-class="vm.getOnIconClass()" -->

          <button class="btn btn-primary" ng-show="vm.showingEachIcon" ng-click="vm.toggleEditIcon()">Edit All Icons</button>
          <button class="btn btn-primary" ng-show="!vm.showingEachIcon" ng-click="vm.toggleEditIcon()">Edit Each Icon</button>
      </div>

    </td>


  </tr>
</table>



<!--   <div class="row">
      <form ng-submit="vm.submitTemplateSettings()" style="margin-bottom: 30px;width:200px">
        <formly-form model="vm.recsys" fields="vm.recsysFieldsTemplate" form="vm.recsysFormTemplate">
            <button type="submit" class="btn btn-primary" ng-disabled="vm.recsysFormTemplate.$invalid">Preview</button>
        </formly-form>
      </form>

  </div> -->

<!--   <div class="row">
    Item Display
  </div> -->


<!--   <button type="submit" class="btn btn-primary" ng-disabled="vm.recsysFormTemplate.$invalid" style="margin-top:10px">Submit</button>
 -->






<!--     <button uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">Popover With Template</button> -->

<!-- <i uib-popover-template="dynamicPopover.url" popover-title="{{dynamicPopover.title}}" class="glyphicon ng-scope glyphicon-star"></i> -->
  <div class="simpleDemo row" style="padding: 0px 15px 0px 15px">
    <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Selected Item Fields to Display (drag and drop order)</h3>
        </div>

              <ul dnd-list="models.lists.roles">
                  <li ng-repeat="item in models.lists.roles"
                      dnd-draggable="item"
                      dnd-moved="models.lists.roles.splice($index, 1)"
                      dnd-effect-allowed="move"
                      dnd-selected="models.selected = item;check(item.label)"
                      ng-class="{'selected': models.selected === item}"
                      ng-style="getStyle(item.label)"
                      >
                         {{item.label}} 
                  </li>
              </ul>
    </div>
  </div>

<!--
  <div class="simpleDemo row">
      <div ng-repeat="(listName, list) in models.lists" class="col-md-6">

          <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title" ng-if="listName == 'A'">Selected Item Fields to Display</h3>
                  <h3 class="panel-title" ng-if="listName == 'B'">Not Displayed</h3>
              </div>
              <ul dnd-list="list">
                  The dnd-draggable directive makes an element draggable and will
                       transfer the object that was assigned to it. If an element was
                       dragged away, you have to remove it from the original list
                       yourself using the dnd-moved attribute
                  <li ng-repeat="item in list"
                      dnd-draggable="item"
                      dnd-moved="list.splice($index, 1)"
                      dnd-effect-allowed="move"
                      dnd-selected="models.selected = item"
                      ng-class="{'selected': models.selected === item}"
                      >
                      {{item.label}}
                  </li>
              </ul>
          </div>

      </div>
  </div>
-->


<button class="btn btn-primary" ng-click="saveTemplate()">Save</button>


</div>


<!-- <div gridster="gridsterOpts">
    <ul>
        <li style="background-color:green" gridster-item="item" ng-repeat="item in customItems">
          {{ item.name }}
        </li>
    </ul>
</div> -->


<!-- 		Customize user site logo
		Customize top navbar color
		Customize content page background color

		Image aspect ratio.

		Image, video links -->

	<form ng-submit="vm.submit()" ng-show="vm.isTab('advanced')" style="margin-bottom: 30px">  <!-- ng-submit="vm.cssUpload(1, vm.cssText)" -->

      <formly-form model="vm.recsys" fields="vm.recsysFieldsAdv" form="vm.recsysFormAdv">
          <button type="submit" class="btn btn-primary" ng-disabled="vm.recsysFormAdv.$invalid">Save</button>
      </formly-form>
      <hr style="border-top: 1px solid darkgray">
      <h4>Update Search Index</h4>
      <h6>Press if Datahub tables have been updated</h6>
      <button>Update</button>

<!-- 		<h4>CSS Edit</h4>
		<textarea ng-model="vm.cssText" style="height:600px; width: 80%; display: block"></textarea>

    <h4>CSS Link</h4>
    <input ng-model="vm.cssLink" type="text" name="" style="width:80%">

    <button type="submit" class="btn btn-primary" style="display: block; margin: 10px 0px 10px 0px">Submit</button>
 -->
  </form>
<!--
	<form>
		Include extra item fields in item description. (author, gender, age, date, etc.)
	</form> -->

<!-- </div>
 -->





  <div ng-show="vm.isTab('general')">
    <hr style="border-top: 1px solid darkgray">
    <button ng-if="active()" type="button" class="btn btn-warning" data-toggle="modal" data-target="#pauseModal">Pause Recommender</button>
    <button ng-if="paused()" type="button" class="btn btn-success" data-toggle="modal" data-target="#startModal">Activate Recommender</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Recommender</button>
  </div>


    <div ng-show="vm.isTab('data')">
          <h3>Update Your Items</h3>
                  <div id="uploadCSV" style="margin: 10px 10px 10px 10px">
                            <!-- <div style="color: red" ng-if="errorMessage.status == 'missing_fields'">Error: {{ errorMessage.message }}</div> -->
                            <div style="color: red" ng-if="errorMessage.status == 'missing_header'">Error: {{ errorMessage.message }}</div>
                            <h4 style="margin: 30px 0px 10px 0px">Upload a CSV of items. Suggested to include and select headers for Title, Description, Image Link, and Universal Code (e.g., ISBN or UPC)</h4>
                            <input id="csvFile" type="file" file="file" style="font-size: 20px;margin: 0px 0px 10px 0px" required />
                            <button type="button" class="btn btn-primary" ng-click="readHeaders()" style="font-size: 20px;">Select CSV Headers</button>
    
                            <div>
                              <form ng-show="hasHeaders" style="margin-bottom: 30px;width:300px">
                                  <formly-form model="vm.headers" fields="vm.csvHeadersFields" form="vm.csvHeadersForm"></formly-form>
                              </form>
                            </div>
                    </div>
     
    </div>



</div>

<!-- TEMPLATES -->



<!-- <div class="modal fade" id="cssResetModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to reset to the original CSS? This cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
        <button type="button" class="btn btn-danger">Reset CSS</button>
      </div>
    </div>
  </div>
</div> -->


<div class="modal fade" id="deleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete Recommender</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the recommender? This cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
        <button type="button" id="deleteButton" class="btn btn-danger" ng-click="vm.deleteRecsys()"><span id="deleteButtonLoading"></span><span id="deleteButtonText">Delete Forever</span></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="startModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Activate Recommender</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to activate the recommender? Your application will be deloyed automatically.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.startRecsys()">Activate Recommender</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="pauseModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Pause Recommender</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to pause the recommender? Your application will become inaccessible.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="vm.pauseRecsys()">Pause Recommender</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script type="text/ng-template" id="tpl1.html">

  <md-card class="item-card" ng-cloak>
    <img class="item-img md-card-image" ng-src="{{myimage}}" alt="image caption" ng-cloak> <!-- data-toggle="popover" data-original-title="{{mytitle | limitTo:100}}" data-content="{{description | limitTo:500}}" data-trigger="hover" data-container=".template"-->
    <md-card-title class="item-title">
      <md-card-title-text class="item-title-text">
        <span class="md-headline card-title trim-info">{{mytitle}}</span>
        <span class="md-subhead">

        <table>
          <tr>
            <td style="width: 205px;">
		  <span relink-event="rate">
		    <span class="rating-icon" uib-rating ng-model="rating" max="5" read-only="false" on-hover="hoveringOver(value); focus = true;myStyle=vm.getOnStyle()" on-leave="focus = null;myStyle=vm.getOffStyle()"  titles="['yes','yesy','yesy','yesy','yes']" aria-labelledby="default-rating" ng-click="" ng-style="myStyle" ng-init="myStyle=vm.getOffStyle()" rating-states="ratingStates"></span>
		    <!-- {{ showingRated || focus == true ? null : rating}} -->
		    <span class="label" ng-style="{'font-size': vm.recsys.rating_icon_fontsize}" ng-class="{'label-danger': overStar<=1, 'label-warning': overStar>=2 && overStar<=3, 'label-success': overStar>=4}" ng-show="focus">Rate {{overStar}}</span>
		  </span>
            </td>
            <td>
		<md-menu>
		    <md-button class="toolbar-button" aria-label="Settings" ng-click="$mdOpenMenu()">
			<i class="material-icons" ng-click="">more_vert</i>
		    </md-button>
		    <md-menu-content width="3">
	                 <md-menu-item><md-button ng-click="$mdCloseMenu()">Not Interested</md-button></md-menu-item>
		    </md-menu-content>
		</md-menu>
            </td>
          </tr>
        </table>

        </span>

      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <md-card-actions class="item-popover" data-toggle="popover" data-trigger="hover" data-content="{{ item_details }}" data-html="true" data-container=".template">Item Details</md-card-actions>
      <md-card-actions class="item-popover" data-toggle="popover" data-trigger="hover" data-content="{{ ratings_template }}" data-html="true" data-container=".template">Rating Details</md-card-actions>

    </md-card-content>
  </md-card>

</script>


<script type="text/ng-template" id="tpl2.html">

  <md-card class="item-card" ng-cloak style="height:560px;overflow:hidden;">
  
  <img class="item-img md-card-image" ng-src="{{myimage}}" alt="image caption"  ng-cloak>

  <!-- <span data-toggle="popover" data-original-title="Description" data-content="{{description | limitTo:500}}" data-trigger="hover" data-container=".template"> -->
   <span>
    <md-card-title class="item-title">
      <md-card-title-text class="item-title-text">
        <span class="md-headline card-title trim-info">{{mytitle}}</span>
        <span class="md-subhead">

        <table>
          <tr>
            <td style="width: 205px;">  
		<span relink-event="rate">
		    <span class="rating-icon" uib-rating ng-model="rating" max="5" read-only="false" on-hover="hoveringOver(value);focus = true;myStyle=vm.getOnStyle()" on-leave="focus = null;myStyle=vm.getOffStyle()" titles="" aria-labelledby="default-rating" ng-click="" ng-style="myStyle" ng-init="myStyle=vm.getOffStyle()" rating-states="ratingStates"></span>
		    <span class="label" ng-style={'font-size': vm.recsys.rating_icon_fontsize} ng-class="{'label-danger': overStar<=1, 'label-warning': overStar>=2 && $parent.overStar<=3, 'label-success': overStar>=4}" ng-show="focus">Rate {{overStar}}</span>
		  </span>

		</span>
            </td>
            <td>
		<md-menu>
		    <md-button class="toolbar-button" aria-label="Settings" ng-click="$mdOpenMenu()">
			<i class="material-icons" ng-click="">more_vert</i>
		    </md-button>
		    <md-menu-content width="3">
	                 <md-menu-item><md-button ng-click="$mdCloseMenu()">Not Interested</md-button></md-menu-item>
		    </md-menu-content>
		</md-menu>
            </td>
          </tr>
        </table>
  
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <md-card-actions><span ng-bind-html="item_details"></span></md-card-actions>

  <!--     <md-card-actions class="item-popover" data-toggle="popover" data-trigger="hover" data-original-title="Rating Details" data-content="{{$parent.ratings_template}}" data-html="true">Rating Details</md-card-actions> -->

    </md-card-content>
  </span>
  </md-card>

</script>





<div ng-include="'app/views/partials/editIconPopovers.html'"></div>





<script type="text/ng-template" id="panel.html">
    <div ng-if="options.templateOptions.getError()" class="panel panel-danger">

      <div class="panel-heading px-nested-panel-heading clearfix">
        <strong class="control-label"">
          {{options.templateOptions.getError()}}
        </strong>
      </div>

      <div class="panel-body px-nested-panel-body">
        <formly-transclude></formly-transclude>
      </div>

    </div>

    <div ng-if="!options.templateOptions.getError()">
      <formly-transclude></formly-transclude>
    </div>
</script>
